@model IEnumerable<CatalogoMvc.Entities.AlumnoEntity>
@using PagedList.Mvc;
@using PagedList;

<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th class="text-center" width="10%">Acciones</th>
            <th class="text-center" width="20%">Name</th>
            <th class="text-center" width="5%">Edad</th>
            <th class="text-center" width="10%">Fecha Nacimiento</th>
            <th class="text-center" width="20%">Padre/Tutor</th>
            <th class="text-center" width="5%">Grupo</th>
            <th class="text-center" width="5%">Profesor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    <a href="#" title="Editar" class="text-success" onclick="EditUser(@item.IdAlumno)"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="#" title="Eliminar" class="text-danger" onclick="DeleteUser(@item.IdAlumno)"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
                <td>@item.Nombre</td>
                <td>@item.Edad</td>
                <td>@item.FechaNacimiento</td>
                <td>@item.PadreTutor</td>
                <td>@item.NombreGrupo</td>
                <td>@item.NombreProfesor</td>
            </tr>
        }
    </tbody>
</table>
<div class="">
    @Html.PagedListPager((
        IPagedList)Model,
                    page => Url.Action("_ListUser",
        new
        {
            page = page,
            roleId = ViewBag.roleId,
        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
        {
            LinkToFirstPageFormat = String.Format("Primero"),
            LinkToPreviousPageFormat = String.Format("<< Anterior"),
            LinkToNextPageFormat = String.Format("Siguiente >>"),
            LinkToLastPageFormat = String.Format("Último"),
            MaximumPageNumbersToDisplay = 5,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        },
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tableUser"
        }
    ))

</div>
